DB_URL=postgresql://usuario:senha@localhost:5432/bdgd
CAMINHO_GDB_ORIGINAL=C:\caminho\para\EDP_SP_391_2025-12-31_V11.gdb
CAMINHO_MALHA_MUNICIPIOS=C:\caminho\para\SP_Municipios_2025\SP_Municipios_2025.shp